* {

    margin: 0px;
    padding: 0px;
}

html {
   
}

body {

    background-color: black;   
}

#wrapper {
 
    width : 768px;
    height : 800px;
    margin : auto;
   
    padding:0px;
    
    
    
    
}

#gameCanvas {


    
    margin-left:0px;
    margin-right:0px;
    padding:0px;
  

}

#fps {
    
    color: #FFFFFF;
    
    
}

img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}